$darkBlue: #3594cb;
$mediumBlue: #6cbfee;
$lightBlue: #afdcf8;
$grey: #d9dbe1;
$lightGrey: #e3e7f5;

@mixin media($bp) {
  @if $bp == mobile {
    @media only screen and (max-width: 690px) {
      @content;
    }
  }
  @else if $bp == tablet {
    @media only screen and (min-width: 691px) and (max-width: 995px) {
      @content;
    }
  }
  @else if $bp == desktop {
    @media only screen and (min-width: 996px) {
      @content;
    }
  }
}
